<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .c1{
            color: red  ;
            height: 50px;
            font-size: 12px;
            font-weight : 600;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center; /* 水平方向置中 */
            line-height: 50px;  /* 垂直方向置中 */
            border: 2px solid blue;
        }
    </style>
</head>
<body>
        <div class="c1">天氣</div>
</body>
</html>